@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    -webkit-font-smoothing: antialiased;
}

html {
    scroll-behavior: smooth;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Works on Firefox */
body {
    scrollbar-width: thin;
    scrollbar-color: #00d084 transparent;
}

/* Works on Chrome, Edge, and Safari */
body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    background: transparent;
}

body::-webkit-scrollbar-thumb {
    background-color: #00d084;
    border-radius: 40px;
    border: 3px solid transparent;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}
