a {
    color: #b8fd99;
}

.container-home {
    min-height: 100vh;
    flex: 1;
    background: linear-gradient(45deg, #084801, #171923, #2d3748);
    background-size: 600% 400%;
    animation: gradientBackground 20s ease-in-out infinite;
}

.container-home .header-content {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5rem 2rem 2rem;
}

.container-home .header-content .title {
    font-size: 5rem;
    font-weight: 700;
    color: #b8fd99;
}

.container-home .header-content .buttons {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    justify-content: center;
}

.container-home .header-content .buttons button {
    font-size: 1.5rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #9fd86b;
    color: #141414;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.container-home .header-content .buttons button:hover {
    background-color: #7ab317;
    color: #fff;
}

.container-home .main-content {
    width: 100%;
    display: flex;
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    border-radius: 0.5rem;
    padding: 1rem;
    color: #fff;
    flex-direction: column;
}

.container-home .main-content .card-content {
    position: relative;
    width: 100%;
    display: flex;
    gap: 1rem;
    padding: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.413);
    border-radius: 0.5rem;
    align-items: center;
    justify-content: space-between;
    background: rgba(3, 28, 48, 0.6);

    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
}

.day-card-over {
    position: absolute;
    top: 2rem;
    left: 2rem;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(2, 53, 1, 0.8);
    border: 2px solid #05ab0d;
    color: #fff;
    font-size: 1.75rem;
    font-weight: 700;
    z-index: 10;
}

.container-home .main-content .card-content .card-image {
    width: 100%;
    height: auto;
    max-width: 600px;
    max-height: 300px;
    border-radius: 0.5rem;
    border: 1px solid #05ab0d;
    overflow: hidden;
    object-position: center;
    object-fit: cover;
}

.container-home .main-content .card-content .card-image img {
    width: 100%;
    height: auto;
    max-width: 600px;
    max-height: 300px;
    object-position: center;
    object-fit: cover;
}

.container-home .main-content .card-content .description {
    flex: 1;
    font-size: 1.2rem;
}

.container-home .main-content .card-content .description h1 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    margin-bottom: 2rem;
    text-align: center;
}

.container-home .main-content .card-content .description > h2 {
    font-size: 1.75rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    color: #05ab0d;
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1.5rem;
}

.container-home .main-content .card-content .description .list-techs {
    height: 5rem;
    display: flex;
    align-items: start;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.container-home .main-content .card-content .description .list-techs li {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    color: #05ab0d;
}

.container-home .main-content .card-content .description .button-container {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 2rem;
}

.container-home .main-content .card-content .description .button-container a {
    font-size: 1.5rem;
    padding: 1rem 2rem;
    border-radius: 8px;
    background: #05ab0d;
    border: 0;
    color: #fff;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.container-home
    .main-content
    .card-content
    .description
    .button-container
    a:hover {
    filter: brightness(0.95);
    cursor: pointer;
}

@media screen and (max-width: 999px) {
    .container-home .header-content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .container-home .header-content .title {
        text-align: center;
    }

    .container-home .header-content .buttons {
        margin-top: 2rem;
    }

    .container-home .main-content .card-content {
        flex-direction: column;
    }

    .container-home .main-content .card-content .description .button-container {
        justify-content: center;
    }
}
